<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>userRequestController</servlet-name>
        <servlet-class>com.controller.userRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userDashboardController</servlet-name>
        <servlet-class>com.controller.userDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nearbyUserController</servlet-name>
        <servlet-class>com.controller.nearbyUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getHelpController</servlet-name>
        <servlet-class>com.controller.getHelpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newRegistrationController</servlet-name>
        <servlet-class>com.controller.newRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testController</servlet-name>
        <servlet-class>com.controller.testController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>com.controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelHelpController</servlet-name>
        <servlet-class>com.controller.cancelHelpController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userRequestController</servlet-name>
        <url-pattern>/userRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userDashboardController</servlet-name>
        <url-pattern>/userDashboardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nearbyUserController</servlet-name>
        <url-pattern>/nearbyUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getHelpController</servlet-name>
        <url-pattern>/getHelpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newRegistrationController</servlet-name>
        <url-pattern>/newRegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testController</servlet-name>
        <url-pattern>/testController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
        <!--        <welcome-file>default.html</welcome-file>  -->
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>cancelHelpController</servlet-name>
        <url-pattern>/cancelHelpController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
